.segments {
  width: 100%;
  margin: var(--box-padding) 0;
  font-family: 'Museo Sans Rounded';

  .segment {
    padding: 8px var(--box-padding) 6px var(--box-padding);
    border-bottom: 1px solid var(--border-color);
    display: flex;
    line-height: 1.2em;

    &:last-child {
      border: none;
    }

    &.active {
      background-color: rgba(255, 255, 255, 0.1);
    }

    .time {
      text-align: right;
      font-family: var(--font-family);
      font-size: var(--font-size);
    }

    .segment-name {
      flex: 1 1 50%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .segment-time {
      flex: 0 1 100px;
    }
    .total-time {
      flex: 0 1 120px;
    }
  }
}
