.segments {
  width: 100%;
  padding: 0 var(--box-padding);
  margin: var(--box-padding) 0;
  display: table;

  .segment {
    display: table-row;

    &:last-child {
      .table-cell { border: none; }
    }

    .table-cell {
      padding: 6px 0;
      display: table-cell;
      border-bottom: 1px solid var(--border-color);
    }

    .time {
      text-align: right;
    }

    .segment-name { width: 50%; }
    .segment-time { width: 25%; }
    .total-time   { width: 25%; }
  }
}
