<link rel="stylesheet" href="./segments.scss">

<template id="segments_component">
  <div class="segments">
    <div rv-each-segment="run.segments" class="segment">
      <span class="segment-name">{ segment.name }</span>
      <span class="segment-time">{ segment.elapsed_time | time }</span>
      <span class="total-time">{ segment.time_in_run < elapsed_time started_at | call | time }</span>
    </div>
  </div>
</template>

<script>
  var segments_template_str = document.currentScript.ownerDocument.querySelector('#segments_component').innerHTML;

  rivets.components['segments'] = {
    template: function() {
      return segments_template_str;
    },

    initialize: function(el, data) {
      return data || { run: { segments: [] } };
    }
  };
</script>
