<link rel="stylesheet" href="./segments.scss">

<template id="segments_component">
  <div class="segments">
    <div rv-each-vs="visible_segments < run.segments | call run.segment_idx" class="segment" rv-class-active="vs.segment.active">
      <span class="table-cell segment-name">{ vs.segment.name }</span>
      <span class="table-cell time segment-time">{ vs.pb_segment_time | time }</span>
      <span class="table-cell time total-time">{ vs.segment.time_in_run < elapsed_time started_at | call | time }</span>
    </div>
  </div>
</template>

<script>
  var segments_template_str = document.currentScript.ownerDocument.querySelector('#segments_component').innerHTML;

  class SegmentsComponent {
    constructor(data) {
      this.run = data.run;
    };

    visible_segments() {
      let last_seg = Math.min(this.run.segments.length, Math.max(this.run.segment_idx + 4, 10));
      let first_seg = last_seg - 10;

      let visible_segments = [];
      for(var i = first_seg; i < last_seg; i++) {
        visible_segments.push({
          idx: i,
          segment: this.run.segments[i],
          pb_segment_time: this.pb_segment_time(i)
        });
      }

      return visible_segments;
    };

    pb_segment_time(segment_idx) {
      return this.run.pb_attempt ?
        this.run.pb_attempt.segments[segment_idx] :
        null;
    };

    is_active(segment) {
      return this.run.current_segment == segment;
    };
  };

  rivets.components['segments'] = {
    template: function() {
      return segments_template_str;
    },

    initialize: function(el, data) {
      return new SegmentsComponent(data);
    }
  };
</script>
