@import "variables.scss";

/* Box sizing reset */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: $background-color;
  font-family: $font-family;
  color: $text-color;
  -webkit-app-region: drag;
}


.clear {
  clear: both;
}


@import "timer.scss";
@import "segments.scss";
@import "segment_details.scss";
